<div class="ui grid">
  <div class="sixteen wide column"></div>
  <div class="ten wide column">
        <table class="ui celled table">
          <thead>
            <tr><th>ID</th>
            <th>人物名</th>
            <th>画像</th>
            <th>出来事</th>
            <th>説明</th>
            <th>ページ数</th>
            <th>ステージ</th>
            <th>結果</th>
            <th>状態</th>
            <th>管理</th>
          </tr></thead>
          <tbody>
            <% @histories.each do |history| %>
            <tr>
             <% if history.id != @history.id %>
             <td><%= history.id %></td>
             <td><%= link_to"#{history.name}", history, { :target => "_blank"}  %></td>
             <td><%= image_tag(history.url, :size => '50x50') %></td>
             <td><%= history.event %></td>
             <td><%= history.description.truncate(20) %></td>
             <td><%= history.page %></td>
             <td><%= history.stage %></td>
             <td><%= history.result %></td>
             <td><%= history.status %></td>
             <td>
              <%= link_to "編集", edit_history_path(history.id), { :class => "ui olive button" } %>
              <%= link_to "削除", history, { :class => "ui red button", method: :delete, data: { confirm: "本当に削除してもいいですか？" }} %>
             </td>
            <% else %>
             <td class="edit"><%= history.id %></td>
             <td class="edit"><%= link_to"#{history.name}", history, { :target => "_blank"}  %></td>
             <td class="edit"><%= image_tag(history.url, :size => '50x50') %></td>
             <td class="edit"><%= history.event %></td>
             <td class="edit"><%= history.description.truncate(20) %></td>
             <td class="edit"><%= history.page %></td>
             <td class="edit"><%= history.stage %></td>
             <td class="edit"><%= history.result %></td>
             <td class="edit"><%= history.status %></td>
             <td class="edit">
              <%= link_to "編集", edit_history_path(history.id), { :class => "ui olive button" } %>
              <%= link_to "削除", history, { :class => "ui red button", method: :delete, data: { confirm: "本当に削除してもいいですか？" }} %>
             </td>
            <% end %>
            </tr>
            <% end %>
          </tbody>
        </table>
  </div>
  <div class="six wide column">
      <%= render 'histories/edit' %>
  </div>
</div>